<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winkelmann.swl.dc.project.purchase.mapper.PurPurchaseOrderHeaderMapper">

	<resultMap type="PurPurchaseOrderHeader" id="PurPurchaseOrderHeaderResult">
		<id		property="id"				column="id"					/>
		<result property="orderNbr"			column="order_nbr"			/>
		<result property="supplier"			column="supplier"			/>
		<result property="supplierName"		column="supplier_name"		/>
		<result property="shipTo"			column="ship_to"			/>
		<result property="orderDate"		column="order_date"			/>
		<result property="currency"			column="currency"			/>
		<result property="crTerm"			column="cr_term"			/>
		<collection property="orderDetails" ofType="com.winkelmann.swl.dc.project.purchase.domain.PurPurchaseOrderDetail" 
			column="id" select="selectPurchaseOrderDetail">	
		</collection>
	</resultMap>
	
	<select id="selectPurchaseOrderDetail" resultType="com.winkelmann.swl.dc.project.purchase.domain.PurPurchaseOrderDetail">
		select id, line, site, app_nbr as appNbr, part, qty_order as qtyOrder, um, pur_cost as purCost, taxable, tax_in as taxIn, 
			   tax_rate as taxRate, pur_account as purAccount, cc, project, type
		from pur_purchase_order_detail where order_id = #{id}
		order by line
	</select>
	
	<resultMap id="PurPurchaseOrderDetailResult" type="PurPurchaseOrderDetail">
		<id		property="id"				column="detail_id"			/>
		<result property="line"				column="line"				/>
		<result property="site"				column="site"				/>
		<result property="appNbr"			column="app_nbr"			/>
		<result property="part"				column="part"				/>
		<result property="qtyOrder"			column="qty_order"			/>
		<result property="UM"				column="um"           		/>
		<result property="purCost"			column="pur_cost"           />
		<result property="taxable"			column="taxable"            />
		<result property="taxIn"			column="tax_in"            	/>
		<result property="taxRate"			column="tax_rate"           />
		<result property="purAccount"		column="pur_account"        />
		<result property="cc"				column="cc"            		/>
		<result property="project"			column="project"            />
		<result property="type"				column="type"            	/>
	</resultMap>
	
	<sql id="selectPurchaseOrderVo-archive">
		select po.id, po.order_nbr, po.supplier, po.supplier_name, po.ship_to, po.order_date, po.currency, po.cr_term,
			   pod.id as detail_id, pod.line, pod.site, pod.app_nbr, pod.part, pod.qty_order, pod.um, pod.pur_cost, pod.taxable,
			   pod.tax_in, pod.tax_rate, pod.pur_account, pod.cc, pod.project, pod.type
		from pur_purchase_order_header po
			left join pur_po_header_detail phd on po.id = phd.header_id
			left join pur_purchase_order_detail pod on pod.id = phd.detail_id
	</sql>
	
	<sql id="selectPurchaseOrderVo">
		select id, order_nbr, supplier, supplier_name, ship_to, order_date, currency, cr_term
		from pur_purchase_order_header po
	</sql>
	
	<select id="selectPurchaseOrderList" parameterType="PurPurchaseOrderHeader" resultMap="PurPurchaseOrderHeaderResult">
		<include refid="selectPurchaseOrderVo" />
		<where>
			<if test="orderNbr != null and orderNbr != ''">
				AND po.order_nbr like concat('%', #{orderNbr}, '%')
			</if>
			<if test="supplier != null and supplier != ''">
				AND po.supplier like concat('%', #{supplier}, '%')
			</if>
			<if test="supplierName != null and supplierName != ''">
				AND po.supplier_name like concat('%', #{supplierName}, '%')
			</if>
		</where>
		order by po.order_nbr desc
	</select>
</mapper>